[submodule "src/libs/gamemath"]
	path = src/libs/gamemath
	url = https://github.com/TheAssemblyArmada/gamemath.git
[submodule "src/libs/baseconfig"]
	path = src/libs/baseconfig
	url = https://github.com/TheAssemblyArmada/Baseconfig.git
[submodule "src/libs/captnlog"]
	path = src/libs/captnlog
	url = https://github.com/TheAssemblyArmada/CaptainsLog.git
[submodule "src/libs/crashpad"]
	path = src/libs/crashpad
	url = https://github.com/TheAssemblyArmada/crashpad-cmake.git
