[submodule "src/libs/gamemath"]
	path = src/libs/gamemath
	url = https://github.com/TheAssemblyArmada/gamemath.git
[submodule "src/libs/baseconfig"]
	path = src/libs/baseconfig
	url = https://github.com/TheAssemblyArmada/Baseconfig.git
[submodule "launcher"]
	path = launcher
	url = https://github.com/TheAssemblyArmada/SetSail.git
