#include    "resource.h"

//http://www.cmake.org/pipermail/cmake/2009-August/031506.html
//http://stackoverflow.com/questions/320677/how-do-i-set-the-icon-for-my-application-in-visual-studio-2008

//
// This file should be included in the sources of the Windows build to add the icons
// Icon file to use should be specified here, default should be IDI_ICON1
//

IDI_ICON1	ICON    "launcher.ico"
